body{
    background-image:linear-gradient(to right, rgb(255, 208, 215), white);
}
#one{
    background-color: crimson;
    color: aliceblue;
    height: 200px;
    width: 300px;
    margin: 100px;
    padding: 30px;
}
.two{
    background-color: rgb(94, 144, 53);
    color: aliceblue;
    height: 200px;
    width: 300px;
    margin: 100px;
    padding: 30px;
}
.img1{
    height: 300px;
    width: 400px;
    margin: 100px;
    padding: 30px;
}

.img2{

    height: 200px;
    width: 300px;
    margin: 100px;
    padding: 30px;
}

.flex-container{

}